/* page styles */
body { 
    background-color: rgba(0, 0, 0, .9);
    height: 100vh;
    overflow: hidden;
    
}

/* card styles */
.card {
    background-image:linear-gradient(hsl(213, 19%, 18%),hsl(216, 12%, 8%));
    border-radius: 2.5rem;
    width: 25rem;
    margin: 0 auto;
    position: relative;
    top:50%;
    transform: translateY(-50%);

}

img {
    /* border: 1px solid hsl(0, 0%, 100%); */
    margin: 2.5rem 0 0 0 ;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 10.675rem;
    
}

#rating-out-of-five {
    background-color: hsl(213, 19%, 18%);
    border-radius: 30px;
    color: hsl(25, 97%, 53%);
    font-size: 0.9375rem;
    line-height: 1;
    padding: 0.625rem 0;
    width: 11.5625rem;

}

h2 {
    /* border: 1px solid white; */
    font-family:'Overpass';
    font-weight: 700;
    margin:1.25rem  0 1.25rem 0;
    width: fit-content;
    color:hsl(0, 0%, 100%);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

p{
    /* border: 1px solid white; */
    color:hsl(217, 12%, 63%);
    font-size: 0.9375rem;
    font-family:'Overpass';
    font-weight: 400;
    text-align: center;
    width: 18.75rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top:1.25rem;
    margin-bottom:1.875rem;
    padding-bottom:3.125rem;
}